{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aprobado Libranza{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}body-index{% endblock %}">
{% include 'base/loader_global.html' %}
<div class="div-body-main">
    {% include 'base/navbar_libranza.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'base/footer_libranza.html' %}
</div>
{% block extra_scripts %}{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>
<script src="{% static 'js/global_loader.js' %}"></script>
</body>
</html>